version: 2.1
jobs:
  test:
    machine:
      enabled: true
    steps:
      - run: echo "Tests can run here!"
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Install Java & MVN
          command: ssh $SSH_USER@$SSH_HOST "sudo apt-get update && sudo apt-get install -y curl git && sudo apt-get install -y openjdk-8-jdk"
      - run:
          name: Clone Repo & Install Application Dependencies
          command: ssh $SSH_USER@$SSH_HOST "git clone https://github.com/Chinenye-VN/FundamentalProject1-NailApp.git && cd ~/ FundamentalProject1-NailApp && sudo apt-get install -y mvn "
      - run:
          name: Deploy Application
          command: ssh $SSH_USER@$SSH_HOST "cd ~/ FundamentalProject1-NailApp && mvn verify"
workflows:
  version: 2.1
  test-and-deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
            

